.error_message {
    margin-left: var(--error-message-margin-left);
    padding-top: var(--error-message-padding-top);
    color: var(--red-color);
}

#error_number_find_id {
    margin-left: var(--error-number-find-id-margin-left);
}

#error_number_find_pw {
    margin-left: var(--error-number-find-pw-margin-left);
}

#error_email_find_pw {
    margin-left: var(--error-email-find-pw-margin-left);
}

#error_pw_change_pw {
    margin-left: var(--error-pw-change-pw-margin-left);
}

#error_pw_check_change_pw {
    margin-left: var(--error-pw-check-change-pw-margin-left);
}