body {
    background-color: var(--blue-color-two);
}

form {
    width: var(--form-width);
    height: var(--form-height);
    margin-top: var(--form-margin-top);
    background-color: var(--blue-color-one);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: var(--base-border-radius);
}

.text_login {
    font-size: var(--text-login-font-size);
    padding: var(--text-login-padding);
    margin: var(--text-login-margin);
}

.login_box {
    display: flex;
    justify-content: center;
    padding: var(--login-box-padding);
}

.login_icon {
    width: var(--login-icon-width);
    height: var(--login-icon-height);
    padding-right: var(--login-padding-right);
}

.input_login {
    width: var(--input-login-width);
    height: var(--input-login-height);
}

#error_message_box {
    color: var(--red-color);
    margin-right: var(--error-message-box-margin-left);
}

#btn_login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: var(--btn-login-width);
    height: var(--btn-login-height);
    background-color: var(--blue-color-main);
    border-style: none;
    margin-top: var(--btn-login-margin-top);
    margin-bottom: var(--btn-login-margin-bottom);
}

a {
    padding-top: var(--a-padding-top);
    font-size: var(--a-font-size);
    display: inline-block;
    text-decoration-line: none;
    color: var(--black-color);
}