p {
    font-size: var(--p-font-size);
    margin: var(--p-margin);
}

.input_form_box {
    height: var(--input-form-box-height);
}

.input_form {
    width: var(--input-form-width);
    height: var(--input-form-height);
}

.btn_overlap {
    width: var(--btn-overlap-width);
    height: var(--btn-overlap-height);
    border-radius: var(--btn-overlap-border-radius);
    margin-left: var(--btn-overlap-margin-left);
    background-color: var(--blue-color-two);
}