.form_title {
    margin-top: 150px;
    font-size: 46px;
}

p {
    font-size: 26px;
    margin: 0;
}

.input_form_box {
    height: 70px;
}

.input_form {
    width: 260px;
    height: 40px;
}

.error_message {
    margin-left: 70px;
    padding-top: 5px;
    color: red;
}

#error_email {
    margin-left: 90px;
}

#error_pw {
    margin-left: 110px;
}

#error_pw_check {
    margin-left: 160px;
}

#error_birthday {
    margin-left: 110px;
}

#error_number {
    margin-left: 160px;
}

.btn_overlap {
    width: 100px;
    height: 40px;
    border-radius: 0px;
    margin-left: 10px;
    background-color: #8B9DC3;
}