h1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    background-color: var(--blue-color-two);
}

input {
    border-radius: 30px;
}